{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
